* {
  background-color: #ebffe5;
  box-sizing: border-box;
  margin: 0;
}
.nav-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #bce8b1;
  color: black;
  font-size: 24px;
  font-family: Inter;
  font-weight: 300;
  padding: 0;
}

.nav-container-left {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: #bce8b1;
}

.nav-container-right {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: #bce8b1;
}
ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #bce8b1;
  padding: 15px;
}
.logo {
  display: flex;
  justify-content: center;
  background-color: #bce8b1;
  width: 200px;
  height: 50px;
  margin: 10px;
}

.main-container {
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*login form*/
input {
  display: flex;
  justify-content: center;
}

.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*dashboard*/
.card{
  display: flex;
  justify-content: space-around;
  height:150px;
  width:100px;
}
img{
  padding: 10px;
}
