* {
  background-color: #ebffe5;
  box-sizing: border-box;
  margin: 0;
}
.nav-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #bce8b1;
  color: black;
  font-size: 24px;
  font-family: Inter;
  font-weight: 300;
  padding: 0;
}

.nav-container-left {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: #bce8b1;
}

.nav-container-right {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: #bce8b1;
}
ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #bce8b1;
  padding: 15px;
}
.logo {
  display: flex;
  justify-content: center;
  background-color: #bce8b1;
  width: 200px;
  height: 50px;
  margin: 10px;
}

.main-container {
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*login form*/
input {
  display: flex;
  justify-content: center;
}

.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*dashboard*/
.card-container{
  display: flex;
  justify-content: center;
}
.card {
  
  width: 250px;
  height: 254px;
  border-radius: 20px;
  background: #ebffe5;
  position: relative;
  padding: 1rem;
  margin: 1rem;
  border: 2px solid #bce8b1;
  transition: 0.5s ease-out;
  overflow: visible;
}

.card-details {
  color: black;
  height: 100%;
  gap: 0.5em;
  display: grid;
  place-content: center;
  
}

.card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #126912 ;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.text-body {
  color: rgb(0, 0, 0);
}

/*Text*/
.text-title {
  font-size: 1em;
  font-weight: 300 ;
}

/*Hover*/
.card:hover {
  border-color: #126912;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}
